/* Estilos Gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
}

.subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

.btn {
    border: 3px solid #fec63e;
    padding:  10px 30px;
    color: #fec63e;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: #fff;
    border-color: #fff;
}
.btn.btn-black {
    color: #000;
    border: 3px solid #000;
}
.btn.btn-black:hover {
    border: 3px solid rgb(0, 0, 0);
    color: #000;

}
/* Header */
.header {
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}
.header_menu ul li a:hover {
    color: #fff;
}
/* Introdução */

.introduction {
    width: 100%;
    height: 380px;
    background: url("../imgs/bg.jpg");
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
}
.introduction h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    
}

.external-quote {
    max-width: 320px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 40px;
}

.external-quote p {
    font-style: italic;
}

.external-quote p:before, .external-quote p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 12px auto 10px auto;
}

.external-quote cite{
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
}

/* Produtos */

.produtos {
    padding: 60px 0;
}

.list_products li {
    background: #fec63e;
    text-align: center;
}

.list_products li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.list_products li h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.list_products li p {
    padding: 10px 20px 20px 10px;
}

.product_icon {
    background: #000;
    padding: 20px;
}

.call {
    padding-top: 40px;
    text-align: center;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* Portfólio */

.portfolio {
    width: 100%;
    background: #000;
    padding: 40px;
}

.portfolio .subtitle {
    color: #fec63e;
}

.portfolio .subtitle::after {
    background: #fec63e;
}

.portfolio_list li:last-child {
    margin-top: 20px;
}

.portfolio .call p {
    color: #fff;
}

/* Qualidade */

.qualidade {
    padding: 60px 0px;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url("../imgs/linhas.svg") no-repeat center;
    position: absolute;
    top: 209px;
    right: 162px;
    z-index: -1;
}

.qualidade img {
    margin: 0px auto;
}

.qualidade_list {
    padding-top: 20px;
}

.qualidade_list li {
    text-align: center;
    padding: 0px 40px;
}

.qualidade_list li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
}

.qualidade_list li h3:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto;
}

/* Quebra */

.quebra {
    background: url("../imgs/bg-footer.jpg") no-repeat center;
    width: 100%;
    height: 220px;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}

.quebra .external-quote {
    max-width: 400px;
}

/* Footer */

.footer {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 20px 0px;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #fec63e;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #fec63e;
    margin: 6px 0 12px 0;
}

.footer_history {
    padding-right: 40px;
}

.footer_contact ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_social ul li{
    display: inline-block;
    margin-right: 10px;

}

.footer_social ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
}

.footer_social ul li a:hover {
    border-color: #fff;
}

.copyright {
    width: 100%;
    background: #fec63e;
    padding: 20px 0px;
}